.container{
    margin: 20px;
}

.jumbotron {
    position : relative;
    background : url("../images/train.jpg");
    background-position: 0% 55%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Cairo', sans-serif;
    color: black
  }

p{
    font-family:'Cairo', sans-serif;
    color:black;
}

.card{
    border : solid;
    border-radius: 10px;
    box-shadow: 0 7px 6px -6px;
}

#trainTable, #form-input{
    font-family:'Cairo', sans-serif;
}

.thead-default{
    background-color:whitesmoke; 
}
.tableBody{
    height : 100px;
    overflow : auto;
}

.panel, .card-heading {
    padding-left : 10px;
    background-color:palevioletred;
    font-family: 'Cairo', sans-serif;
    letter-spacing: .45em;
}

.form-control, .tableRow {
    box-shadow : inset 1px 0 10px;
}

#add-train{
    text-emphasis: none;
    color:palevioletred;
     background-color:whitesmoke;
}

.btn{
    background-color:none
    cursor: pointer;
    width : 100%;
    opacity : 0.79;
    border : none;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    letter-spacing: .45em;
    box-shadow: 0 8px 6px -6px slategray;
}
.btn:hover{
    opacity: 1;
    
}